.projects-wrapper {
  color: var(--barry-white);
  height: 100vh;
  width: 100%;
  background-size: calc(100vh / 10) calc(100vh / 10);
  background-image:
    linear-gradient(to right, rgba(225,232,235,.1)  1px, transparent 1px),
    linear-gradient(to bottom, rgba(225,232,235,.1)  1px, transparent 1px);
  border-bottom: 1px solid rgba(225,232,235,.1);
}

.carousel-wrapper,
.carousel-item-wrapper {
  width: 35rem;
}
.carousel-wrapper {
  overflow: hidden;
  justify-content: flex-start;
}
.carousel-inner {
  transition: ease 1s;
  gap: 10rem;
}
.carousel-buttons-wrapper {
  position: absolute;
  gap: 32rem;
  justify-content: space-between;
  transform: translateX(-1.5rem);
  z-index: 1;
}
.carousel-item-wrapper {
  height: 35rem;
  border: 2px solid var(--deep-purple);
  border-radius: 5px;
  background-color: var(--gandalf-grey);
  padding: 1rem;
  gap: 1rem;
  justify-content: flex-start;
  position: relative;
}
.carousel-button-icon {
  height: 1.5rem;
}
.carousel-item-wrapper img {
  border-radius: 5px;
}
.carousel-item-desktop-screen {
  width: 100%;
}
.carousel-item-mobile-screen {
  width: 7rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: solid 2px var(--gandalf-grey);
}
.carousel-item-mobile-wrapper {
  gap: 1rem;
}
.carousel-item-data-wrapper {
  width: 100%;
  align-items: flex-start;
  gap: .5rem;
}
.carousel-item-data-title {
  font-size: 2rem;
  margin: 0 auto;
}
.carousel-item-data {
  font-size: 14px;
  font-weight: 400;
}
.carousel-item-data-heading {
  opacity: 0.5;
}
.carousel-item-data-link {
  text-decoration: none;
  color: var(--merlo-mustard);
  gap: .5rem;
}
.link-icon {
  width: .75rem;
  margin-top: .2rem;
}
.carousel-item-data-wrapper a:hover {
  color: var(--merlo-mustard);
}

.carousel-button {
  width: 3rem;
  height: 3rem;
  background-color: var(--gandalf-grey);
  border: solid 2px var(--merlo-mustard);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease .05s;
  z-index: 2;
}
.button-prev:active {
  transform: translateX(-5px);
}
.button-next:active {
  transform: translateX(5px);
}