.skills-wrapper {
  padding: 0rem 3rem;
  height: 105vh;
  width: 100%;
  justify-content: space-around;
  color: var(--barry-white);
  overflow-x: hidden;
  gap: 1rem;
}

.marquee-text {
  line-height: 200px;
  width: 100%;
  font-size: 4rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: var(--font-stroke-purple);
}
.band-up {
  overflow: hidden;
  white-space: nowrap;
  animation: marqueeLeft 3000s linear infinite;
}
.band-down {
  overflow: hidden;
  white-space: nowrap;
  animation: marqueeRight 1000s linear infinite;
}
.skills-section-title {
  font-size: 1.5rem;
}
.skills-cards-wrapper { /*TODO: see naming, confusion w/element below*/
  gap: 2rem;
}
.skills-card-wrapper { /*TODO: see naming, confusion w/element above*/
  padding: 1rem;
  width: 7rem;
  height: 8rem;
  border: solid 2px var(--deep-purple);
  border-radius: 5px;
  justify-content: space-between;
}
.technologies-wrapper {
  opacity: 0;
  transform: translateX(70rem);
  transition: 1s cubic-bezier(.02,.43,.06,.97);
}
.tools-wrapper {
  opacity: 0;
  transform: translateX(-70rem);
  transition: 1s cubic-bezier(.02,.43,.06,.97);
}
.skills-slide-in {
  opacity: 1;
  transform: translateX(0rem);
}
.technologies-wrapper,
.tools-wrapper {
  align-items: flex-end;
  gap: 1rem;
}
.tools-wrapper {
  margin-left: auto;
}
.technologies-wrapper {
  align-items: flex-start;
  flex-direction: column-reverse;
  margin-right: auto;
}
.skills-card-logo {
  height: 4rem;
}
.skills-card-title {
  font-size: 15px;
  color: var(--merlo-mustard);
}
.band-down {
  transform: rotateY(-180deg);
}
.skills-line {
  width: 100%;
  border-top: 1px solid var(--deep-purple);
  /* margin: -1rem 0rem; */
}

@keyframes marqueeRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes marqueeLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

