.skills-wrapper {
  padding: 0rem 2rem;
  min-height: 100vh;
  width: 100%;
  color: var(--barry-white);
  overflow-x: hidden;
}
.skills-section-title {
  font-size: 1.5rem;
}
.skills-main-wrapper {
  margin: 4rem 0;
  width: 100%;
}
.skills-cards-wrapper {
  /*TODO: see naming, confusion w/element below*/
  gap: 2rem;
}
.skills-card-wrapper {
  /*TODO: see naming, confusion w/element above*/
  padding: 1rem;
  width: 7rem;
  height: 8rem;
  border: solid 2px var(--deep-purple);
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 5px 5px 0px 0px rgba(82, 255, 184, 0.6);
}
.technologies-wrapper,
.tools-wrapper {
  align-items: flex-end;
  gap: 1rem;
  transition: all ease-in-out 0.75s;
  opacity: 0;
}
.technologies-wrapper {
  transform: translate(75rem);
}
.tools-wrapper {
  transform: translate(-75rem);
}
.tools-wrapper.active,
.technologies-wrapper.active {
  transform: translate(0rem);
  opacity: 1;
}
.technologies-wrapper {
  align-items: flex-start;
  flex-direction: column-reverse;
  margin-right: auto;
}
.skills-card-logo {
  height: 4rem;
}
.skills-card-title {
  font-size: 15px;
  color: var(--unnatural-green);
}
.skills-line {
  width: 100%;
  height: 1px;
  background-color: var(--unnatural-green);
  margin: 1rem 0;
}
.marquee-container {
  user-select: none;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
}
.marquee-text {
  display: inline-block;
  line-height: 4rem;
  font-size: 4rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: var(--font-stroke-purple);
}

.marquee-up-first {
  animation: marqueeLeftFirst 50s linear infinite;
}
.marquee-up-second {
  animation: marqueeLeftSecond 50s linear infinite;
}
.marquee-down {
  padding: 0 0 0 4rem;
}
.marquee-down-first {
  animation: marqueeRightFirst 50s linear infinite;
}
.marquee-down-second {
  animation: marqueeRightSecond 50s linear infinite;
}

@keyframes marqueeLeftFirst {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marqueeLeftSecond {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marqueeRightFirst {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes marqueeRightSecond {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media (max-width: 480px) {
  .skills-wrapper {
    height: fit-content;
    padding: 2rem 1rem;
  }
  .skills-main-wrapper {
    margin: 2rem 0rem;
  }
  .skills-cards-wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skills-cards-wrapper {
    gap: 1rem;
  }
  .skills-card-wrapper {
    width: 5.25rem;
    height: 6rem;
    padding: 0.5rem;
  }
  .tools-wrapper .skills-cards-wrapper {
    justify-content: flex-end;
  }
  .technologies-wrapper .skills-cards-wrapper {
    align-items: center;
    justify-content: flex-start;
  }
  .technologies-wrapper
    .skills-cards-wrapper
    .skills-card-wrapper:nth-child(1) {
    margin: 0 60% 0 0;
  }
  .skills-card-title {
    font-size: 0.75rem;
  }
  .skills-card-logo {
    height: 3rem;
  }
  .technologies-wrapper {
    transform: translate(10rem);
  }
  .tools-wrapper {
    transform: translate(-10rem);
  }
  .skills-section-title {
    font-size: 1.25rem;
  }
  .marquee-text {
    font-size: 3rem;
  }
}
@media (max-width: 319px) {
  .technologies-wrapper
    .skills-cards-wrapper
    .skills-card-wrapper:nth-child(1) {
    margin: 0;
  }
}
