.about-wrapper {
  width: 100%;
  height: 100vh;
  color: var(--barry-white);
  background-size: calc(100vh / 10) calc(100vh / 10);
  background-image: linear-gradient(
      to right,
      rgba(225, 232, 235, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(225, 232, 235, 0.1) 1px, transparent 1px);
  border-bottom: 1px solid rgba(225, 232, 235, 0.1);
  border-top: 1px solid rgba(225, 232, 235, 0.1);
  background-position: center top;
}
.cards-wrapper {
  gap: 3rem;
  align-items: flex-start;
  height: 14rem;
}
.category-wrapper {
  width: 90%;
  transition: all ease-in-out 0.5s;
}
.category-line {
  height: 3px;
  width: 5rem;
  background-color: var(--unnatural-green);
  margin-bottom: -0.5rem;
}
.the-developer-title,
.the-guy-behind-title {
  font-size: 1.5rem;
  margin: 1rem 0rem 1rem 0rem;
}
.the-developer-wrapper,
.the-guy-behind-wrapper {
  opacity: 0;
}
.the-developer-wrapper {
  transform: translate(75rem);
  z-index: 5;
}
.the-guy-behind-wrapper {
  transform: translate(-75rem);
}
.the-developer-wrapper.visible,
.the-guy-behind-wrapper.visible {
  transform: translate(0);
  opacity: 1;
}
.category-about-cards-wrapper {
  gap: 2rem;
  align-items: flex-start;
}
.the-developer-wrapper,
.the-developer-wrapper .about-card-wrapper {
  align-items: flex-start;
}
.the-guy-behind-wrapper,
.the-guy-behind-wrapper .about-card-wrapper {
  align-items: flex-end;
}
.the-guy-behind-wrapper .about-card-wrapper .about-card-description {
  text-align: end;
}
.about-card-wrapper {
  width: 13rem;
  padding: 0.75rem;
  gap: 1rem;
  background-color: var(--gandalf-grey);
  border: 2px solid var(--deep-purple);
  border-radius: 5px;
  justify-content: flex-start;
  transition: all .5s ease-in-out;
  box-shadow: 5px 5px 0px 0px rgba(82,255,184, .6);
}
.about-card-role {
  font-size: 1rem;
  color: var(--unnatural-green);
}
.about-card-icon {
  width: 30px;
}
.about-card-description {
  width: 100%;
  height: auto;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.about-card-expand-button {
  margin: auto;
  width: 3rem;
  height: 2rem;
  background-color: rgba(255, 193, 7, 0);
  border: solid 1px var(--merlo-mustard);
  border-radius: 5px;
}
.about-card-expand-button:active {
  transform: translateY(2px);
}
.about-card-expand-button:hover {
  cursor: pointer;
}
.about-card-expand-icon {
  width: 2rem;
}

@media (max-width: 480px) {
  .about-wrapper {
    height: fit-content;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 1rem;
    z-index: 1;
  }
  .category-wrapper {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5rem 0 5rem 0;
  }
  .category-title {
    font-size: 1.25rem;
  }
  .cards-wrapper {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-card-wrapper {
    width: 10rem;
    gap: 0.5rem;
  }
  .about-card-wrapper:hover {
    transform: none;
  }
  .about-card-wrapper > h3 {
    font-size: 1rem;
  }
  .about-card-wrapper > p {
    font-size: 0.65rem;
  }
  .the-developer-wrapper {
    transform: translate(-5rem);
  }
  .the-guy-behind-wrapper {
    transform: translate(5rem);
  }
  .the-guy-behind-title {
    text-align: end;
  }
  .category-title {
    margin-top: 1rem;
    width: auto;
  }
}
