.about-wrapper {
  width: 100%;
  height: 100vh;
  color: var(--barry-white);
  gap: 1rem;
  background-size: calc(100vh / 10) calc(100vh / 10);
  background-image:
    linear-gradient(to right, rgba(225,232,235,.1)  1px, transparent 1px),
    linear-gradient(to bottom, rgba(225,232,235,.1)  1px, transparent 1px);
  border-bottom: 1px solid rgba(225,232,235,.1);
}
.category-wrapper {
  width: 90%;
  gap: .5rem;
  transition: all ease-in-out .75s;
}
.category-line {
  height: 5px;
  width: 63px;
  background-color: var(--deep-purple);
  margin-bottom: -.5rem;
}
.the-developer-title,
.the-guy-behind-title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.the-developer-wrapper {
  transform: translate(75rem);
  opacity: 0;
}
.the-guy-behind-wrapper {
  transform: translate(-75rem);
  opacity: 0;
  
}
.the-developer-wrapper.visible,
.the-guy-behind-wrapper.visible {
  transform: translate(0);
  opacity: 1;
}
.category-aboutcards-wrapper {
  gap: 2rem;
  align-items: flex-start;
}
.the-developer-wrapper,
.the-developer-wrapper .aboutcard-wrapper {
  align-items: flex-start;
}
.the-guy-behind-wrapper,
.the-guy-behind-wrapper .aboutcard-wrapper {
  align-items: flex-end;
}
.the-guy-behind-wrapper .aboutcard-wrapper .aboutcard-description {
  text-align: end;
}
.aboutcard-wrapper {
  width: 13rem;
  height: 13.5rem;
  padding: .75rem;
  gap: .5rem;
  background-color: var(--gandalf-grey);
  border: 2px solid var(--deep-purple);
  border-radius: 5px;
  justify-content: flex-start;
  transition: .2s ease-in-out;
}
.aboutcard-wrapper:hover {
  transform: scale(130%);
  cursor: none;
}
.aboutcard-role {
  font-size: 18px;
  color: var(--merlo-mustard);
}
.aboutcard-icon {
  width: 30px;
}
.aboutcard-description {
  font-size: 12px;
}