.home-wrapper {
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
}
.know-me-wrapper{
  height: 100vh;
  width: 14rem;
  gap: 1rem;
  justify-content: flex-end;
}
.know-me-text {
  color: var(--white-snake);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-left: .15rem;
  font-size: 14px;
  transform: rotate(-180deg);
}
.know-me-arrow { 
  margin-bottom: 5rem;
  height: 3rem;
}
.hero-wrapper {
  height: 100vh;
  width: 100%;
  color: var(--white-snake);
}
.profile-wrapper{
  justify-content: flex-start;
  align-items: flex-end;
  height: 85%;
  width: 100%;
  gap: 2rem;
  position: relative;
}
.profile-avatar-background {
  position: absolute;
  height: 20rem;
  width: 16rem;
  background-color: var(--white-snake);
  z-index: 0;
  left: 2rem;
  bottom: 3rem;
  opacity: .1;
  border-radius: 5px;
}
.profile-avatar {
  z-index: 3;
  width: 20rem;
}
.profile-title-wrapper {
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 3rem;
}
.profile-title-greetings-name,
.profile-title-greetings-last-name {
  font-size: 3.5rem;
}
.last-name { color: blue; }
.profile-title-greetings-last-name,
.profile-title-greetings-hey {
  color: transparent;
  font-weight: bold;
  font-family: 'Syncopate', sans-serif;
  -webkit-text-stroke: var(--font-stroke);
}
.profile-title-greetings-hey {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
}
.media-logos-wrapper { gap: 1rem;}
.media-logo-wrapper {
  border: solid var(--merlo-mustard) 2px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(225,232,235,.13);
}
.media-logo-wrapper:active {
  transform: scale(90%);
}
.media-logo { 
  width: 37px; 
  height: 37px;
}
.tech-profile-developer { /*ver contraste: 2.91 !!!!*/
  color: var(--deep-purple);
  font-weight: 900;
}
.mail-wrapper-outer {
  height: 15%;
  align-items: flex-end;
  font-size: 15px;
}
.mail-wrapper-inner {
  flex-direction: row;
  margin: 0 5rem 0 0;
}
.mail-background-mailTo {
  color: var(--white-snake);
  opacity: .3;
}
.mail-link {
  opacity: 1;
  text-decoration: none;
  color: var(--deep-purple);
}
.mail-line {
  border: solid 1px var(--merlo-mustard);
  height: 1px;
  width: 125px;
  margin: 1rem 5rem 0 0;
}