:root {
  --cod-gray: #1E1E1E;
  --mystic-white: #E1E8EB;
  --studio-purple: #7952B3;
  --amber: #FFC107;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--cod-gray);
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App {
  justify-content: flex-start;
}