:root {
  --cod-gray: #1E1E1E;
  --mystic-white: rgba(225,232,235,1);
  --deep-purple: #7952B3;
  --yellow-submarine: #FFC107;
  --font-stroke: 0.25px var(--mystic-white);
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--cod-gray);
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Syncopate', sans-serif; */
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App {
  /* height: 100vh; */
  width: 100%;
  justify-content: flex-start;
}