:root {
  --black-sabbath: rgba(10, 10, 10, 1);
  --gandalf-grey: rgba(30, 30, 30, 1);
  --barry-white: rgba(225,232,235,1);
  --deep-purple: rgba(121, 82, 179, 1);
  --merlo-mustard: rgba(255, 193, 7, 1);
  --font-stroke-white: 0.25px var(--barry-white);
  --font-stroke-purple: 0.5px var(--deep-purple);
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--gandalf-grey);
  font-family: 'Roboto Mono', monospace;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App {
  width: 100%;
  justify-content: flex-start;
  overflow-x: hidden;
}